{% extends "base.html" %}

{% block title %}History{% endblock %}

{% block content %}
    <div class="panel">
        <div class="panel-header">
            <div class="panel-title h5">Operation History</div>
            <p class="history-text">View all operations or filter by range.</p>
        </div>
        <div class="panel-body">
            <form action="{{ url_for('history') }}" method="GET" class="form-horizontal">
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label class="form-label" for="line_from">From operation #:</label>
                    </div>
                    <div class="col-9 col-sm-12">
                        <input class="form-input" type="number" id="line_from" name="line_from" min="1" placeholder="e.g., 1" value="{{ request.args.get('line_from', '') }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label class="form-label" for="line_to">To operation #:</label>
                    </div>
                    <div class="col-9 col-sm-12">
                        <input class="form-input" type="number" id="line_to" name="line_to" min="1" placeholder="e.g., 10" value="{{ request.args.get('line_to', '') }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12 text-right">
                        <button type="submit" class="btn btn-primary">Filter History</button>
                        <a href="{{ url_for('history') }}" class="btn btn-link">Show All</a>
                    </div>
                </div>
            </form>

            <h6 class="mt-4">History Records:</h6>
            {% if history_records %}
                <ul class="list-unstyled">
                {% for record in history_records %}
                    <li><strong>{{ actual_start_index + loop.index }}.</strong> {{ record }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <div class="empty">
                    <div class="empty-icon">
                        <i class="icon icon-2x icon-time"></i>
                    </div>
                    <p class="empty-title h5">No history records found.</p>
                    <p class="empty-subtitle">Perform some operations to see history.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}