{% extends "base.html" %}

{% block title %}Sale{% endblock %}

{% block content %}
    <div class="panel">
        <div class="panel-header">
            <div class="panel-title h5">Current warehouse indicators</div>
        </div>
        <div class="panel-body">
            <p class="text-large">Stock Level: <strong>{{ stock_level }}</strong> items</p>
            <p class="text-large">Account Balance: <strong>{{ balance }}</strong> PLN</p>

            <h6 class="mt-4">Available products for sale:</h6>
            {% if warehouse_items %}
                <ul class="list-unstyled">
                {# Изменили итерацию: теперь product - это объект Product #}
                {% for product in warehouse_items %}
                    <li><strong>{{ product.name | capitalize }}:</strong> {{ product.quantity }} items at {{ product.price }} PLN/item</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No items in the warehouse to sell.</p>
            {% endif %}
        </div>
    </div>

    <div class="panel mt-4">
        <div class="panel-header">
            <div class="panel-title h5">Sale Form</div>
        </div>
        <div class="panel-body">
            <form action="{{ url_for('sale') }}" method="POST">
                <div class="form-group">
                    <label class="form-label" for="product_name">Product Name</label>
                    <input class="form-input" type="text" id="product_name" name="product_name" placeholder="e.g., Laptop" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="quantity">Quantity to sell</label>
                    <input class="form-input" type="number" id="quantity" name="quantity" min="1" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit Sale</button>
            </form>
        </div>
    </div>
{% endblock %}