<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Warehouse accounting system{% endblock %}</title>

    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="page">
        <header class="navbar p-2">
            <section class="navbar-section">
                <a href="{{ url_for('index') }}" class="btn btn-link text-large text-bold">
                    Warehouse
                </a>
            </section>
            <section class="navbar-center">
                </section>
            <section class="navbar-section">
                <a href="{{ url_for('index') }}" class="btn btn-link">Main</a>
                <a href="{{ url_for('history') }}" class="btn btn-link">History</a>
                </section>
        </header>

        <main class="container grid-lg">
            <div class="columns">
                <div class="column col-12">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="toast toast-{{ category }} mt-2">
                                    <button class="btn btn-clear float-right"></button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>

        <footer class="footer p-2 text-center">
            <div class="container grid-lg">
                <p>&copy; 2025 Warehouse accounting system. All rights reserved.</p>
            </div>
        </footer>
    </div>
</body>
</html>